<footer id="contact-section" class="footer-section bg-white text-black">
    <center>
      <hr width="50%"><br>
    </center>
    <div class="container">
      <div class="row">

        <div class="col-md-4 ml-auto">
          <h3>Connect With Us</h3>
          <!-- <ul class="list-unstyled">
            <li><a href="#">Home</a></li>
            <li><a href="#">Courses</a></li>
            <li><a href="#">Programs</a></li>
            <li><a href="#">Teachers</a></li>
          </ul> -->

          <form method="post" data-aos="fade">
            <div class="form-group row">
              <div class="col-md-12">
                <input type="text" class="form-control" placeholder="First Username">
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-12">
                <input type="text" class="form-control" placeholder="Subject">
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-12">
                <input type="email" class="form-control" placeholder="Email">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <textarea class="form-control" id="" cols="30" rows="3"
                  placeholder="Write your message here."></textarea>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-12">

                <input type="submit" class="btn btn-primary py-3 px-5 btn-block btn-pill" value="Send Message">
              </div>
            </div>

          </form>

        </div>

        <div class="col-md-3">
          <h3>About EduSphere</h3>
          <p align="justify" class="p-1">EduSphere symbolizes a comprehensive and modern educational ecosystem. The name blends
            "Edu" (education) and "Sphere" (a complete environment) to represent inclusive, tech-driven, and global
            learning opportunities. <br>
            <br>EduSphere symbolizes a comprehensive and modern educational ecosystem. The name blends "Edu"
            (education) and "Sphere" (a complete environment) to represent inclusive, tech-driven, and global learning
            opportunities.

          </p>
        </div>


        <div class="col-md-4 ml-auto">
          <h3>Our Centers</h3>
          <ul class="list-unstyled">
            <li>
              <strong>Indore</strong> <br>
              <small>2nd Floor Indraprastha Tower, Near Palasia Square Indore, MP</small>
            </li><br>
            <li>
              <strong>Bhopal</strong> <br>
              <small>B-55, Kasturba Nagar, Parallel to Chetak Bridge Bhopal, MP</small>
            </li><br>
            <li>
              <strong>Jabalpur</strong> <br>
              <small>18 Napier Town, Civic Center Jabalpur, MP</small>
            </li><br>
            <li>
              <strong>Gwalior</strong> <br>
              <small>5 City Center, Opp. Railway Station Gwalior, MP 474001</small>
            </li>
          </ul>
        </div>


      </div>

      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <div class="border-top pt-5">
            <p>
              Copyright &copy;
              <script>document.write(new Date().getFullYear());</script> All rights reserved | Created By GK &trade;
            </p>
          </div>
        </div>

      </div>
    </div>
  </footer>
