<div class="">
    <ul class="m-0 p-2" type="none">

      <li><a href="/" class="nav-link">
          <i class="bi bi-house-door-fill"></i>
          Home</a></li>
      <li><a href="#courses-section" class="nav-link">
          <i class="bi bi-journal-bookmark-fill"></i>
          Courses</a></li>
      <li><a href="/interview/interviewSubject" class="nav-link">
          <i class="bi bi-person-bounding-box"></i>
          InterviewPrep</a></li>
      <li><a href="/blog" class="nav-link">
          <i class="bi bi-pencil-square"></i>
          Blog</a></li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" id="settingsDropdown" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="bi bi-layout-text-window"></i>
          Section</a>
        <ul class="dropdown-menu" aria-labelledby="settingsDropdown">
          <li><a class="dropdown-item" href="/employee/employeeLogin">
              <i class="bi bi-person-badge-fill"></i>
              Employee</a></li>
          <li><a class="dropdown-item" href="/student/studentLogin">
              <i class="bi bi-mortarboard-fill"></i>
              Student</a></li>
        </ul>
      </li>

    </ul>
  </div>