<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/">
    <title>EduSphere</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script>
      (()=>{
        window.history.forward();
      })();
    </script>

    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <link rel="stylesheet" href="css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/style.css">
    
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  
  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <%-include('./homeHeaderSideBar.ejs')%>

    </div>
   
    
    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
      
      <div class="container-fluid">
        <div class="d-flex align-items-center">
          <div class="site-logo mr-auto w-20"><a href="index.html">EduSphere</a></div>

          <%-include('./homeHeader.ejs')%>

        </div>
      </div>
      
    </header>

    <div class="intro-section" id="home-section">
      
      <div class="slide-1" style="background-image: url('images/hero_1.jpg');" data-stellar-background-ratio="0.5">
        <div class="container">
            <form action="/student/studentRegistration" method="post" enctype="multipart/form-data">
                
            <div class="row align-items-center">
            <div class="col-12" style="margin-top: 100px;">
              <div class="row align-items-center form-box">
                  
                <div class="col-lg-6 mb-4" data-aos="fade-up" data-aos-delay="500">
                    <h3 class="h4 text-black mb-4">Student Registration Form</h3>
                    <div class="form-group">
                        <input 
                          type="text" 
                          class="form-control" 
                          placeholder="Enter Username"
                          name="name"
                          id="name"
                          required
                        />
                      </div>
                      <div class="form-group">
                        <input 
                          type="email" 
                          class="form-control" 
                          placeholder="Email Addresss"
                          name="email"
                          id="email"
                          value="<%=email%>"
                          required
                          readonly
                        />
                      </div>

                      <div class="form-group">
                          <input 
                          type="password" 
                          class="form-control" 
                          placeholder="Enter Password"
                          name="password"
                          id="password"
                          required
                        />
                      </div>
                    

                      <div class="form-group">
                        <input 
                          type="text" 
                          class="form-control" 
                          placeholder="Enter 10-Digit Mobile Number"
                          name="contact"
                          id="contact"
                          required
                        />
                      </div>
                      <div class="form-group">
                          <input 
                          type="text" 
                          class="form-control" 
                          placeholder="Enter Address"
                          name="address"
                          id="address"
                          required
                        />
                      </div>
                      <div class="form-group">
                        Select Gender : 
                        <input 
                          type="radio" 
                          class="radio" 
                          name="gender"
                          id="male"
                          value="male"
                          checked
                        /> &nbsp;&nbsp;<label for="male">Male</label>&nbsp;&nbsp;
                        <input 
                        type="radio" 
                        class="radio" 
                        name="gender"
                        id="female"
                        value="female"
                      /> &nbsp;&nbsp;<label for="female">Female</label>
                      </div>
                </div>

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="500">
                 
                    <div class="form-group">
                        DOB : 
                        <input 
                          type="date" 
                          class="form-control" 
                          name="date"
                          id="date"
                          required
                        />
                      </div>

                      <div class="form-group">
                        <input 
                        type="text" 
                        class="form-control" 
                        placeholder="Enter Guardian Name"
                        name="gname"
                        id="gname"
                        required
                      />
                    </div>
                    <div class="form-group">
                        <input 
                        type="text" 
                        class="form-control" 
                        placeholder="Enter Guardian Number"
                        name="gcontact"
                        id="gcontact"
                        required
                      />
                    </div>
                      
                      <div class="form-group">
                        Upload Profile Pic :
                          <input 
                          type="file" 
                          class="form-control" 
                          name="docs"
                          id="docs"
                          required
                        />
                      </div>
                    <div class="form-group">
                      <input 
                        type="submit" 
                        class="btn btn-primary btn-block p-2" 
                        value="Click to Register"
                      />
                    </div>
                  
                </div>
           
              </div>
            </div>
            
          </div>
           </form>

        </div>
      </div>
    </div>
  
    
  </div> <!-- .site-wrap -->

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/bootstrap-datepicker.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/jquery.sticky.js"></script>

  
  <script src="js/main.js"></script>
    
  </body>
</html>